//- extends ../layout/main
//- extends ../layout/ui-kit-cards
//- extends ../layout/headers&footers
extends ../layout/template


block content
  .main
    .wrapper
      +findApartments('Найдём номера под ваши пожелания')
