body {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  // margin-left: -400px;
  // left:-800px;
  width: 2600px;
}
h3{
  font-size: 12px;
line-height: 15px;
text-transform: uppercase;
color: #1F2041;
padding-bottom: 16px;
font-weight: bold;
width: 100%;
}
p{
  font-size: 14px;
line-height: 24px;
color: rgba(31, 32, 65, 0.75);
}
@mixin color($color:#BC9CFF){
  border:1px solid $color;
}
@mixin gradient($color:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)){
  background: $color;
  color:white;
}
.firstColumn {
  height: 900px;
  width: 440px;
  padding-left: 20px;
  padding-top: 30px;
}

.secondColumn {
  height: 500px;
  width: 440px;
  padding-left: 20px;
  padding-top: 30px;
}
.thirdColumn{
  height: 500px;
  width: 440px;
  padding-left: 20px;
  padding-top: 30px;
}

.firstBlock {
  margin-bottom: 100px;
}

 @mixin size($width:320px) {
  width: $width;
}

.commonInput {
  @include size();

  p {
    font-weight: bold;
    font-size: 12px;
  }

  input {
    width: 100%;
    padding: 15px 13px;
    font-size: 14px;
    height: 44px;
    border: 1px solid rgba(31, 32, 65, 0.25);
  }
  margin-bottom: 30px;
}

.commonInput:focus,
.commonInput:hover {
  input {
    border: 1px solid rgba(31, 32, 65, 0.5);
    color: rgba(31, 32, 65, 0.75);
  }
}

.dropDown {
  position: relative;
}
// .arrow::after

.arrow:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 45px;
  left: 296px;
  margin-bottom: 0;
  border: solid rgba(31, 32, 65, 0.5);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  cursor: pointer;
}

.drops {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.small_input {
  width: 150px;
}

.small_input:after {
  left: 130px;
}

.emailInput {
  position: relative;
}

.hidden {
  display: none;
}

.itemsDropDown {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top: none;
}

.itemDropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 7px 7px 15px;

  .count {
    width: 92px;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;
      vertical-align: middle;
      width: 2rem;
      text-align: center;
    }

    p:first-child,
    p:last-child {
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 22px;
    }
  }
}
.checkboxList{
  position: relative;
  margin-bottom: 49px;
}

.advantage{
  display: flex;
  img{
    margin-right: 10px;
  }
  span{
    font-weight: bold;
    font-size: 14px;
  }
  p{
    font-size: 14px;
  }
  border-bottom:1px solid rgba(31, 32, 65, 0.1);
  padding-bottom: 17px;
  margin-bottom: 23px;
}
.checkboxList::after{
  top:5px;
}
.checkbox_buttons{
  margin-bottom: 40px;
}

.radio_buttons{
  p{
    width: 100%;
    margin-bottom: 16px;
  }
  .radio_button{
    margin-right: 20px;
  }
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.toggle_buttons{
  p{
    margin-bottom: 16px;
  }
  margin-bottom: 43px;
}
.toggle_button{
  margin-bottom: 14px;
  input{
    margin-right: 10px;
  }
}

.like_buttons{
  display: flex;
  flex-wrap: wrap;
  p{
    width: 100%;
    margin-bottom: 16px;
  }
}
.like_button{
  position: relative;
  display: flex;
  border: 1px solid #BC9CFF;
border-radius: 10px;
width: 45px;
height: 20px;
padding-left: 9px;
margin-right: 10px;
margin-bottom: 40px;
p{
  margin-top: 1.7px;
  font-size: 12px;
  color:#BC9CFF;
}
}
.like_button_enable{
 border:1px solid rgba(31, 32, 65, 0.25);
 .heart{
   z-index: 12;
 }
 .heart:before{
   z-index: 5;
 }
 .heart:after{
   z-index: 5;
 }
 .heart:before,
 .heart:after,.heart{
   background: white;
   border:1px solid rgb(194, 188, 188);
 }
}
.rate_buttons{
  p{
    width: 100%;
    margin-bottom: 16px;
  }
  display: flex;
  flex-wrap: wrap;
}
.rate_button{
  display: flex;
  margin-right: 20px;
}
.range_slider{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 43px;
  p{
    width: 40%;
    font-size: 12px;

  }
  span{
    width: 50%;
    font-size: 12px;
    color: rgba(31, 32, 65, 0.5);
  }
  .range_line{
    margin-top: 23px;
    width: 266px;
    height: 6px;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 3px;
    display: flex;
    .segment{
      width: 33.33%;
    }
    .segment_active{
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  position: relative;
    }
    .segment_active::before{
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      position: absolute;
      top:-4px;
      border:1px solid white;
    }
    .segment_active::after{
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      position: absolute;
      top:-4px;
      left:79px;
      border:1px solid white;
    }
  }
}
.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  p{
    margin-bottom: 16px;
  }
  .buttons_block_second{
    width: 250px;
  }
}
.button{
  width: 99px;
  height: 44px;
  border-radius: 22px;
  margin-right: 19px;
  margin-bottom: 30px;
  font-size: 12px;
}
.first_button{
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  color:white;
}

.second_button{
  color:white;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
opacity: 0.5;
}
.third_button{
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  background: white;
}
.fourth_button{
  color: #BC9CFF;
  border: 2px solid #BC9CFF;
  background: white;
}

.first_button_noborder{
  background: white;
  color: #BC9CFF;
  margin-right: 0px;
}
.second_button_noborder{
  background: white;
  color: rgba(31, 32, 65, 0.5);
}
.big_button{
  @include gradient();
  width: 320px;
}
.pages{
  height: 4rem;
  .button{
    width:40px;
    color: rgba(31, 32, 65, 0.5);
    background: white;
  }
  .active_page{
    @include gradient();
  }
  .next_page{
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  }
}
